* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-size: 62.5%;
}

body {
    background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
    display: grid;
    place-items: center;
    font-size: 1.6rem;
    height: 100vh;
}
main {
    align-items: center;
    background: #FFF;
    box-shadow: 0px .2rem .4rem rgba(0, 0, 0, 0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: -12rem;
    padding: 4.8rem 6.4rem 6.4rem;
    width: min(42.8rem, 90%);
}